.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.header div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header div h1 {
    font-size: 2em;
}