.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 3em 0;
}

.nav_bar button {
    padding: .5em;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #ffac06;
    transition: 0.5s;
}

.nav_bar button:hover {
    cursor: pointer;
    color: #ffac06;
    background-color: #333;
}

@media screen and (min-width: 1920px) {
    .nav_bar button {
        padding: .5em;
        font-size: 18px;
    }
}