.container-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    padding: .5em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.container-card div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    background-color: #ffac06;
}

.container-card div span {
    font-size: 3em;
    color: #fff;
}

.container-card img {
    height: 7em;
    width: 9em;
    border-radius: 4px;
}

.container-card p {
    font-size: 17px;
    font-weight: bold;
}

.container-card p span {
    font-size: 16px;
    font-weight: 400;
}

.container-card section {
    display: flex;
    align-items: center;
    gap: 1em;
}

.container-card section button {
    font-size: 23px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

.container-card section button:hover {
    color: #ffac06;
}

.container-card section button a:hover {
    color: #ffac06;
}