.header-create-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
}

.form-user {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 83%;
    padding: 2em;
    margin-left: 5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form-user main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.form-user main div {
    display: flex;
    flex-direction: column;
}