.card-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    margin: 1em 0 1em 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card-carrinho img {
    width: 8em;
    height: 6em;
    border-radius: 3px;
}

.card-carrinho span {
    font-weight: bold;
}

.card-carrinho span p {
    font-weight: 400;
}

.card-carrinho section {
    display: flex;
    align-items: center;
}

.card-carrinho section button {
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.card-carrinho section p {
    font-size: 20px;
    padding: 0 6px 0 6px;
}

@media screen and (min-width: 1920px) {
    .card-carrinho {
        padding: 1em;
    }
}