.modalPedido-overlay {
    position: fixed;
    top: 3.2em;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalPedido-content {
    width: 40%;
    padding: 1em;
    border-radius: 5px;
    background-color: lightgray;
}

.section_modal_pedido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
}