.formMetodoPagamento {
    display: flex;
    flex-direction: column;
    width: 97%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.formMetodoPagamento section {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.formMetodoPagamento button {
    margin: .5em;
}

@media screen and (min-width: 1920px) {
    .form {
        width: 93.2%;
    }
}