.input_label {
    display: flex;
    flex-direction: column;
}

.input_label label {
    margin-bottom: 5px;
}

.input_label input {
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 1.7em;
}